{% extends "base.html" %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/header.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{ SITENAME }}</h1>
                        {% if SITESUBTITLE %}
                            <hr class="small">
                            <span class="subheading">{{ SITESUBTITLE }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <strong>Blog w wersji polskiej:</strong> <a href="http://kele.github.io">kele.github.io</a>. <br />
    <strong>This blog is available in english version here:</strong> <a href="http://kele.github.io/en">kele.github.io/en</a>.<br/ >
    {% for article in articles_page.object_list %}
        <div class="post-preview">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
            </a>
            {% if article.summary %}
                {{ article.summary|truncate(200)|striptags }}
            {% endif %}
            <p class="post-meta">{{ article.locale_date }}</p>
            {% include 'comments.html' %}
        </div>
    {% endfor %}

    {% include "pagination.html" %}
{% endblock content %}

